@import "../../../shared.scss";

.cube-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2%;
}

.cube-container-row {
  display: flex;
  align-self: center;
  width: 40%;
}

@media screen and (max-width: $laptop-breakpoint) {
  .cube-container-row {
    width: 60%;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .cube-container {
    margin-top: 5%;
  }

  .cube-container-row {
    width: 70%;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .cube-container-row {
    width: 80%;
  }
}
