@import "../../../shared.scss";

.cube-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2%;
}

.cube-container-row {
  display: flex;
  align-self: center;
  width: 40%;
}

.face {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  aspect-ratio: 1 / 1;
  justify-content: stretch;
}

.blank-face {
  // Minimum size of the sum of a face's border lines
  height: 12px;
  width: 12px;
}

.face-row {
  display: flex;
  flex: 1 0 auto;
}

.square {
  flex: 1 0 auto;
  border: 2px solid black;
  border-radius: 2px;
}

@media screen and (max-width: $laptop-breakpoint) {
  .cube-container-row {
    width: 60%;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .cube-container {
    margin-top: 5%;
  }

  .cube-container-row {
    width: 70%;
  }

  .square {
    border-width: 1px;
  }

  .blank-face {
    // Minimum size of the sum of a face's border lines
    height: 6px;
    width: 6px;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .cube-container-row {
    width: 80%;
  }
}
